@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 *{
    margin: 0 auto;
    padding: 0px;
  font-family: "Azeret Mono", monospace;
 }

 /* Header section */
 nav ul li{
    list-style: none;
 }
.nav-title{
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.btn-primary{
    width: 180px;
    height: 30px;

}

/* Main Section 1 */

.starting-section{
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    height: 620px;
    text-align: center;
}
.image-1{
    width: 240px;
    height: 240px;
}
.heading{
    width: 998px;
    height: 70px;
}
.heading-desc{
    width: 852px;
    height: 100px;
}

.btn-secondary{
    width: 208px;
    height: 66px;
    background-color: black;
    color: white;
    padding: 21px 24px 21px 24px;
}

/* web dev section start */
.web-dev-section{
    width: 1140px;
    height: 1000px;
    align-items: center;
    padding: 80px 97px 80px 97px;
}

.web-dev-heading{
    text-align: center;
    width: 852px;
    height: 40px;
}
.web-dev-description{
    text-align: center;
    width: 852px;
    height: 100px;
    color: rgb(13, 19, 33);

}
.Experience{
    display: flex;
    margin: 32px 0px;
}
.Experience-heading{
    width: 470px;
    height: 80px;
    text-align: left;
    color: rgba(13, 19, 33, 0.7);
}

.Experience-description{
    width: 470px;
    height: 120px;
    color: rgb(13, 19, 33);
}

.Experience-image{
    width: 260px;
    height: 220px;
}
.web-btn{
    width: 110px;
    height: 24px;
    text-align: center;
}

/* inspiration section */
.inspiration{
    width: 1140px;
    height: 777px;
    align-items: center;

}

.Inspiration-heading{
    width: 852px;
    height: 39px;
    text-align: center;
    color: rgb(13, 19, 33);
}

.inspiration-description{
    width: 852px;
    height: 52px;
    text-align: center;
}

iframe{
    width: 1076px;
    height: 550px;
    margin: 10px 0px;
    border: 32px;
    border-radius: 16px;
    align-items: center;
}
